.heading{
    color: red;
}
div{
    color: rgb(28, 4, 8);
}
.form{
    background-color: blanchedalmond;
    padding: 10px;
    border: black 2px solid;
    width: 300px;
     
}
.form label{
    display: block;
    font-weight: bold;
}
.form .input-group{
    margin-bottom: 20px;
    background-color: white;
    padding: 5px 0px;
    border-radius: 8px;
}

.form input{
    color: blue;
    margin-top: 5px;
    border: none;
    background-color: blanchedalmond;
    display: block;
    width: 100%;
    height: 40%;
}