<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Singleton bean -->
    <bean id="automobile" class="com.gl.news.Automobile" scope="singleton">
        <property name="name" value="Car"/>
        <property name="color" value="Red"/>
    </bean>

    <!-- Prototype bean -->
    <bean id="animal" class="com.gl.news.Animal" scope="prototype">
        <property name="name" value="Dog"/>
        <property name="color" value="Brown"/>
    </bean>

</beans>

